

body {
    background-color: gray;
}

.contenedor-header {

}

.contenedor-header h1 {
    text-align: center;
    color: white;
}

.contenedor-header h2 {
    text-align: center;
    color: white;
}

.contenedor-header img {
    display: flex;
    margin: auto;
    border-radius: 10px;
}


