
/* CSS Background Image - Imagen de fondo */

/* Background image aplica imagenes de fondo a los elementos */

body {
    background-color: black;
}

.div-1 {
    height: 400px;
    margin: 10px;
    justify-content: center;
    display: flex;
}

.img-header {
    height: 400px;
}

.div-2 {
    height: 400px;
    margin: 10px;
}

.title {
    color: rgb(219, 1, 1);
    text-align: center;
}

.subtitle {
    color: #fff;
    text-align: center;
}