
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Helvetica Neue",Helvetica,Arial;
}

h4 {
    color: #fff;
}


.header {
    text-align: center;
    background-color: #616161;
    padding: 10px;
}

.section {
    background-color: #F5F5F5;
    display: grid;
    gap: 5px;
    justify-content: center;
    grid-auto-rows: 15.6rem;
    grid-template-columns: repeat(auto-fit, minmax(15.6rem, 1fr)); 
}

.section__card {
    width: 15.6rem;
    height: 15.6rem;
    background-color: #E91E63;
    border-radius: 5px;
}