
/* GRID CONTAINER-1 */
.grid-container-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: auto auto;
}

.grid-container-1 div {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 8px;
    margin: 1px;
}


/* GRID CONTAINER-2 */
.grid-container-2 {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 100px 200px; */
    grid-template-rows: auto auto auto;
}

.grid-container-2 div {
    background-color: chocolate;
    padding: 10px;
    border-radius: 8px;
    margin: 1px;
}



/* GRID CONTAINER-3 */
.grid-container-3 {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, auto);
    /* grid-template-rows: 100px 200px; */
    grid-template-rows: auto;
    /* column-gap: 3px; */
    /* row-gap: 10px; */
    gap: 5px;
}


.grid-container-3 div {
    background-color: chartreuse;
    padding: 10px;  
}
