
/* 
SELECTOR UNIVERSAL
- Afecta toda la web - Todos los archivos
*/
* {
    color: dimgray;
}


/* 
SELECTORES DE TIPO
- Afecta los elementos en todo el archivo - un unico archivo o archivos donde sea llamado
*/

header { color: dodgerblue; }

nav { color: dodgerblue; }

div { color: dodgerblue; }

h2 { color: dodgerblue; }



/* 
LECTORES POR CLASE
    - Se se asigna con el . y se llama con la propiedad class 
    en la etiqueta o elemento del html. 
*/

.h3-titulo {
    color: lightcoral;
}
