
/* CSS Pseudo-classes */ 

/* 
A pseudo-class is used to define a special state of an element.

For example, it can be used to:

Style an element when a user mouses over it
Style visited and unvisited links differently
Style an element when it gets focus

*/


/* PSEUDO CLASS: HOVER */ 
/* La pseudo class hover afecta un elemento cuando el mouse esta sobre el. */
.button-guardar:hover {
    background-color: black;
    color: white;
    font-size: 18px;
}


/* PSEUDO CLASS: FOCUS */ 
/* La pseudo class focus afecta el elemento cuando obtiene el foco */
.btn-cancelar:focus {
    background-color: crimson;
}

.btn-guardar:focus {
    background-color: forestgreen;
}


/* PSEUDO CLASS: LINK */ 
/* La pseudo class link afecta el efecto link de un elemento (Cuando no ha sido visitado) */
.a-link:link {
    color: crimson;
}

.a-link2:link {
    color: crimson;
}


/* PSEUDO CLASS: VISITED */ 
/* La pseudo class visited afecta el efecto visited de un elemento (Cuando ya fue visitado)*/
.a-visited:visited {
    color: darkgreen;
}






