

/* 
=========================== CSS ===============================
Para hacer una modificacion de CSS en la pagina web llamo la etiqueta y encierro en llaves.

*/

/* =============== CODE - DIV ================= */






/* HEADER INICIO*/
.headerInicio  {
    background-color: #323538;
    padding-bottom: 30px;
}

.headerInicio div {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.headerInicio h1 {
    color: lightcyan;
    margin: 10px;
}

.headerInicio h2{
    color: lightcyan;
    margin: 5px;
}

.headerInicio h3{
    color: lightcyan;
    margin: 5px;
}

.headerInicio img {
    margin: 60px;
}


/* ASIDE */
aside {
    background-color: #0E0F0F;
    display: inline-block;
    width: 30%;
    height: 9000px;
    float: left;            /* Flotando a la izquierda*/     
}

.aside-section {
   display: inline-block; 
}

.aside-h3 {
    color: lightcyan;
}

a {
    color: rgb(187, 131, 57);         /* Color de la fuente (Color de letra)*/
}



/* SECTIONS */
.section-clara {
    background-color: #DFEBF7;
    display: inline-block;
    width: 70%;
    float: left;            /* Flotando a la izquierda*/ 
}

.section-oscura {
    background-color: #CAD5E0;
    display: inline-block;
    width: 70%;
    float: left;            /* Flotando a la izquierda*/ 
}


/* ARTICLES */
article {
    margin: 50px;
}









/* H */
.h2-article {
    color: #5D57B3 ;
    margin-left: 15px;
    margin-right: 10px;
}






.article-form {
    background-image: url("../img/contactenos.jpg");
    background-repeat: round;
    padding: 15px;
}

.input-form {
    display: inline-block;
}

.label-form {
    display: inline-block;
    color: cornsilk;

}


/* DIV */
.div-img-header {
    margin: 20px;
}

.div-form-label {
    display: inline-block;
    width: 220px;
    margin: 5px;
}

.div-form-input {
    display: inline-block;
    width: 400px;
    margin: 5px;
}


.footer-html {
    background-color: #EBEDF2;
    /* background-image: url("../img/fondo-oscuro.jpg"); */
    float: left;
    padding: 15px;
    width: 95%;
}

.img-icons {
    display: inline-block;
}

.h2-article {
    display: inline-block;
}


/* P */
.p-text-mini{
    color: lightcyan;
    size: 6;
    
}



