
/* All CSS Simple Selectors */

/*
Selector	        Example	        Example description

.class	            .intro	        Selects all elements with class="intro"

#id	                #firstname	    Selects the element with id="firstname"

*	                *	            Selects all elements

element     	    p	            Selects all <p> elements

element,element,..	div, p	        Selects all <div> elements and all <p> elements
*/

/* 
SELECTOR UNIVERSAL
- Afecta toda la web - Todos los archivos
*/
* {
    color: dimgray;
}



/* 
SELECTORES DE TIPO
- Afecta los elementos en todo el archivo - un unico archivo o archivos donde sea llamado
*/
header { color: darkolivegreen; }

nav { color: burlywood; }

div { color: crimson; }

h1 { color: dodgerblue; }

h2 { color: brown }

h2 { color: green }


/* Agrupadas */
h3, h4, p {
    text-align: center;
    color: red;
} 



/* 
SELECTORES POR CLASE
    - Se se asigna con el . y se llama con la propiedad class 
    en la etiqueta o elemento del html. 
*/

.clase-titulo {
    color: gold;
}



/* 
SELECTOR POR ID
    - Se se asigna con el . y se llama con la propiedad class 
    en la etiqueta o elemento del html. 
*/
#id-titulo {
    color: blue;
}






