

/* SECTION */  
.section-aling-items {
    background-color: #3E4145;
    margin: 10px;
    padding: 100px;
}



/* ALING ITEMS */
/* Stretch */
.contenedor-ai-1 {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background-color: darkcyan;
    height: 300px;
}

.div-ai-1 {
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
    margin: 10px;
}

/* Baseline */
.contenedor-ai-2 {
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
    background-color: darkgoldenrod;
    height: 300px;
}