/* CSS Flexbox Layout Module */
/* 
Before the Flexbox Layout module, there were four layout modes:

Block, for sections in a webpage
Inline, for text
Table, for two-dimensional table data
Positioned, for explicit position of an element
The Flexible Box Layout Module, makes it easier to design flexible responsive layout structure without using float or positioning.


*/


body {
    background-color: gray;
}

.contenedor-header {

}

.contenedor-header h1 {
    text-align: center;
    color: white;
}

.contenedor-header h2 {
    text-align: center;
    color: white;
}

.contenedor-header img {
    display: flex;
    margin: auto;
    border-radius: 10px;
}


