
/* 
MAIN.CSS
Principal
*/

/*  importacion de fuentes Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
