
h4, h5 {
    color: #FFFFFF;
    text-align: center;
}

.header {
    text-align: center;
    background-color: #616161;
    padding: .625rem;
}

.section {
    background-color: #F5F5F5;
    display: grid;
    gap: .313rem;
    grid-auto-rows: 15.6rem;
    /* Auto Fill - MinMax*/
    /* grid-template-columns: repeat(auto-fill, minmax(15.6rem, 1fr)); */
    /* Auto Fill - MinMAx + Min */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15.6rem), 1fr));
}

.section__card {
    background-color: #E91E63;
    border-radius: .313rem;
}