
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", Helvetica, Arial;

    font-size: 17px;
}

* {
    box-sizing: border-box;
  }

  @media screen and (max-width: 768px){ 
    html, body {
      font-size: 16.5px;
    }
  }
  
  @media screen and (max-width: 425px){ 
    html, body {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 375px){ 
    html, body {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 320px){ 
    html, body {
      font-size: 14px;
    }
  }

h4, h5 {
    color: #fff;
    text-align: center;
}

.header {
    text-align: center;
    background-color: #616161;
    padding: 10px;
}

.section {
    background-color: #F5F5F5;
    display: grid;
    gap: 5px;
    grid-auto-rows: 15.6rem;
    /* Auto Fill - MinMax*/
    /* grid-template-columns: repeat(auto-fill, minmax(15.6rem, 1fr)); */
    /* Auto Fill - MinMAx + Min */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15.6rem), 1fr));
}

.section__card {
    background-color: #E91E63;
    border-radius: .313rem;
}