
h4 {
    color: #fff;
}


.header {
    text-align: center;
    background-color: #616161;
    padding: .625rem;
}

.section {
    /* background-color: #F5F5F5; */
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: .313rem;
    justify-content: center;
}

@media screen and (max-width: 1440px) {
    .section{
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: .313rem; 
    }      
}

@media screen and (max-width: 1024px) {
    .section{
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: .313rem; 
    }
}

@media screen and (max-width: 768px) {
    .section{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: .313rem;
    }
}

@media screen and (max-width: 42.313rem) {
    .section{
        display: grid;
        grid-template-columns: 100%;
        gap: .313rem;
    }
}


.section__card {
    width: 15.6rem;
    height: 15.6rem;
    background-color: #E91E63;
    border-radius: .313rem;
}