
/* Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values. */


/* CSS COLOR NAMES */

/* Text color */ 
h2 {
    color: lightseagreen;
}

p {
    color: lightgray;
}

/* Background color */
.div-background-colors-01 {
    background-color:Tomato;
    height: 200px;
    margin: 10px;
}

.div-background-colors-02 {
    background-color: dodgerblue;
    height: 200px;
    margin: 10px;
}


/* Border colors */
.div-border-colors-01 {
    border: 2px solid orange;
    height: 200px;
    margin: 10px;
}

.div-border-colors-02 {
    border: 4px solid slateblue;
    height: 200px;
    margin: 10px;
}




/* CSS COLOR VALUES */

/* RGB - RED GREEN BLUE */
.div-color-rgb {
    background-color: rgb(162, 189, 0)
}

/* RGBA - RED GREEN BLUE ALPHA */
/* ALPHA = Trasparencia: El valor de la transparencia va desde 0 hasta 1 (0 trasparencia total & 1 Sin trasparencia)*/
.div-color-rgb-alpha {
    background-color: rgba(255, 99, 71, 0.5);       /* RGB con Alpha - Trasparencia */
}


/* HEXADECIMAL */
.div-color-hex {
    background-color: #a7d1e9;
}


/* HSL (Hue, Saturation, Lightness – Matiz, Saturación, Luminosidad) */
.div-color-hsl {
    background-color: hsl(200, 100%, 50%);
}

/* HSLA (Hue, Saturation, Lightness – Matiz, Saturación, Luminosidad, Alpha) */
/* ALPHA = Trasparencia: El valor de la transparencia va desde 0 hasta 1 (0 trasparencia total & 1 Sin trasparencia)*/
.div-color-hsl-alpha {
    background-color: rgba(35, 165, 190, 0.5);
}





/* CSS Background Color */
h1 {
    background-color: hotpink;
    background-color: rgb(162, 189, 0);
    background-color: #dd5e14;
}


/* CSS Text Color */
h2 {
    color: forestgreen;
    color: rgb(4, 189, 0);
    color: #8D8FD6;
    color: hsl(5, 100%, 50%)
}

div {
    color: indigo;
}



/* CSS Border Color */
h4 {
    border: 1px solid teal;
}

.div-border {
    border: 2px dotted #dd5e14
}








