
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Exo 2', sans-serif;
}

ul.show {
    top: 65px;
}



/* MENU DESKTOP */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(170deg, #41E6D7, #468BEB, #A460F0);
    background: linear-gradient(160deg, #60C6FC, #468BEB, #A460F0);
    background: linear-gradient(160deg, #63DAE6, #468BEB, #A460F0);
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgb(0, 0, 0.6);
    
}

.menu_img-logo {
    width: 2.1rem;
    margin-left: 2.5rem;
}

.menu_texto-logo {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 800;
    padding: 0 .5rem;
    text-transform: uppercase;
    vertical-align: super;
}

.menu_ul {
    display: flex;
    margin-right: 8rem;
}

.menu_li {
    list-style: none;
    margin: 0 .3rem;
    padding: 0 .8rem;
    border-radius: 0.3rem;
    transition: .2s;
}

.menu_li:hover {
    background-color: rgb(193, 201, 219, 20%);
}

.menu_div-menu {
    margin-bottom: .3rem;
}

.menu_img-menu {
    display: flex;
    margin: auto;
    width: 1.4rem;
}

.menu_a {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
}

.menu_a h4 {
    font-size: .9rem;
    font-weight: 300;
}

.menu_btn {
    display: none;
}

.menu_img-btn {
    width: 2.1rem;  
}

/* SubMenu Desktop*/
.menu_ul-submenu {
    display: none;
    position: absolute;
    top: 75px;
    background-color: #fff;
    border-radius: .3rem;
    padding: 1rem;
    list-style: none;
    margin: .5rem 0;
    
}

.menu_li:hover .menu_ul-submenu{
    display: block;
    transition: 1s;
}

.menu_li-submenu {
    color: #53575C;
    font-size: .9rem;
    cursor: pointer;
    margin: .4rem .8rem; 
}

.menu_li-submenu:hover {
    color: #7E858C;
}



/* MENU TABLE */
@media screen and (max-width: 768px) {
    
    .menu_img-logo {
        width: 2rem;
        margin-left: 1rem;
    }

    .menu_texto-logo {
        font-size: 1.5rem;
        vertical-align: super;
    }

    .menu_ul {
        display: flex;
        margin-right: 1rem;
    }

    .menu_img-menu {
        display: flex;
        margin: auto;
        width: 1.2rem;
    }

    
}



/* MENU MOVIL */
@media screen and (max-width: 425px) {

    .menu {
        padding: .5rem;
    }

    .menu_img-logo {
        width: 1.6rem;
        margin-left: 1rem;
    }

    .menu_texto-logo {
        font-size: 1.1rem;
        vertical-align: super;
    }

    .menu_ul {
        position: fixed;
        flex-direction: column;
        width: 95vw;
        height: calc(100% -65px);
        top: -100vh;
        transition: all .7s;
        background-color: gray;
        border-radius: .3rem;
        border-bottom: 1px solid #fff;
        box-shadow: 5px 0 10px rgb(0, 0, 0.6);
    }

    .menu_li {
        margin: .5rem 0;
    }

    .menu_li:hover {
        background: none;
        
    }

    .menu_a {
        display: flex;
    }

    .menu_a h4 {
        font-size: 1.1rem;
        margin-left: 1rem;
    }

    .menu_a h4:hover {
        transition: .2s;
        font-weight: 600;
        color: #FC2D42;
        color: #F25279;
        color: #B956FC;
        color: #468BEB;
    }

    .menu_btn {
        display: inline-flex;
        margin-right: 1rem;
    }

    /* SubMenu Movil*/
    .menu_ul-submenu {
        display: none;
        position: absolute;
        top: 75px;
        right: 15px;
        background-color: #fff;
        border-radius: .3rem;
        padding: 1rem;
        list-style: none;
        margin: .5rem 0;
    }
}


